<!doctype html>
<html th:replace="base :: html" lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <main class="py-5">
        <div class="container">
            <h1 class="text-center mb-5">Catalogue Papeterie</h1>
            <div class="row g-4">
                <div class="col-md-4" th:each="papeterie : ${papeteries}">
                    <div class="card h-100 shadow-sm">
                        <img th:src="${papeterie.lienImage}" class="card-img-top" style="height:200px; object-fit:cover;" alt="Image du livre">
                        <div class="card-body">
                            <h5 th:text="${papeterie.nom}"></h5>
                            <p th:text="'Marque : ' + ${papeterie.marque}"></p>
                            <p th:text="'Prix : ' + ${papeterie.prix} + ' €'"></p>
                        </div>
                        <div class="card-footer">
                            <a th:href="@{'/papeterie/' + ${papeterie.id}}" class="btn btn-primary w-100">Voir l'article</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>



</html>