<!doctype html>
<html th:replace="base :: html" lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <main class="py-5">
        <div class="container">
            <h1 class="mb-5 text-center">Dashboard</h1>
        </div>
    </main>

</div>
<div class="col-md-6">
    <a th:href="@{/ecommerce/admin/articles}" class="text-decoration-none text-dark">
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Gestion des articles</h3>
                <p class="card-text">Ajouter, modifier, supprimer un article.</p>
            </div>
        </div>
    </a>
</div>

</html>